section.not-found
  height: 100% !important

  h4 a
    color: $background-color !important

    span#back
      color: $background-color !important
      top: -25px
      font-family: $p-font-stack
      text-transform: uppercase
      text-shadow: none !important
      transition: 0.1s
      hover-transform: scale(1.1, 1.1)
