// Footer

footer
  display: block
  width: 100%
  padding: 25px
  min-height: 50px
  background-color: $brand-color
  text-align: center
  z-index: 5
  position: relative
  -webkit-box-shadow: inset 0px 9px 24px -9px rgba(0, 0, 0, 0.2)
  -moz-box-shadow: inset 0px 9px 24px -9px rgba(0, 0, 0, 0.2)
  -ms-box-shadow: inset 0px 9px 24px -9px rgba(0, 0, 0, 0.2)
  -o-box-shadow: inset 0px 9px 24px -9px rgba(0, 0, 0, 0.2)
  box-shadow: inset 0px 9px 24px -9px rgba(0, 0, 0, 0.2)
  font-family: $h-font-stack

footer div.up
  background-color: $light-brand
  width: 50px
  height: 50px
  border-radius: 50px
  display: flex
  justify-content: center
  align-items: center
  color: $background-color
  font-size: 1.5em
  position: absolute
  top: -25px
  left: 50%
  transform: translateX(-50%)
  transition: 0.1s
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)

footer div.up:hover
  top: -30px

footer nav
  display: flex
  margin: 40px auto 20px auto
  justify-content: center
  align-items: center

footer nav ul li
  float: left
  font-size: 0.9em
  transition: 0.2s
  text-transform: uppercase
  padding: 0px 7px 0px 7px

footer nav ul li a
  background-color: $light-brand
  border-radius: 30px
  width: 30px
  height: 30px
  color: $background-color
  display: flex
  justify-content: center
  align-items: center
  transition: 0.2s

footer nav nav
  margin-left: 10px

footer nav nav ul li
  padding: 0px 7px 0px 7px
  margin-top: -2px

footer span
  text-transform: uppercase
  color: $light-brand
  font-size: 1.3em

footer hr
  width: 30px
  margin: 10px auto
  border: 1px solid $light-brand

footer p
  font-family: $p-font-stack
  color: $light-brand
  font-size: 0.8em

footer p a
  color: $lighter-brand

section#latest, section#services
  max-width: 1100px
  margin: 20px auto
  clear: both

section#latest p, section#services p
  color: $light-brand
  font-size: 0.8em

section#latest p a, section#services p a
  color: $lighter-brand
  font-family: open sans

div#bg_img
  background-attachment: fixed
